.order-summary {
  padding-top: 40px;
  @media only screen and (max-width: 768px) {
    padding-top: 30px;
  }
}
.order-summary-card {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ebe6e6;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  &--header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #ebe6e6;
    padding: 7px 7px 14px 7px;
    gap: 5px;

    p,
    h2 {
      margin: 0;
    }
    p {
      color: #9fa5b2;
      font-size: 14px;
    }
    h2 {
      strong {
        color: #0098a5;
      }
    }
  }
  &--body {
    padding-top: 30px;
    @media only screen and (max-width: 768px) {
      padding-top: 10px;
    }
  }
}
