body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3FAFB; 
  box-sizing: border-box;
  height: 100vh;
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="ltr"] {
  direction: ltr;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
