
body {
  font-family: 'DM Sans';
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="ltr"] {
  direction: ltr;
}