
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3FAFB; 
  box-sizing: border-box;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="ltr"] {
  direction: ltr;
}